.gen[data-v-191ad456] { padding: 0.32rem; }
.gen .title[data-v-191ad456] { color: var(--el-color-2); font-family: "PingFang SC"; font-size: 0.28rem; font-style: normal; font-weight: 500; line-height: 0.4rem; margin-bottom: 0.24rem; }
.gen .blue[data-v-191ad456] { color: rgb(48, 189, 100) !important; }
.gen .box[data-v-191ad456] { border-radius: 0.24rem; border: 1px solid rgb(234, 234, 234); background: rgb(255, 255, 255); padding: 0.28rem; margin-bottom: 0.28rem; }
.gen .box.box-top[data-v-191ad456] { display: flex; flex-wrap: wrap; justify-content: space-between; padding-bottom: 0.1rem; }
.gen .box .li2[data-v-191ad456] { border-radius: 0.16rem; background: rgb(243, 243, 243); width: 48.8%; margin-bottom: 0.16rem; padding: 0.2rem; line-height: 100%; }
.gen .box .li2[data-v-191ad456]:first-child { width: 100%; text-align: center; background: none; }
.gen .box .li2:first-child span[data-v-191ad456]:last-child { font-size: 0.36rem !important; }
.gen .box .li2:nth-child(2) span[data-v-191ad456]:nth-child(2) { color: rgb(0, 0, 0); }
.gen .box .li2 span[data-v-191ad456] { display: block; font-size: 0.28rem; }
.gen .box .li2 span[data-v-191ad456]:nth-child(1) { color: rgb(144, 144, 144); margin-bottom: 0.16rem; font-size: 0.24rem; }
.gen .box .li[data-v-191ad456] { display: flex; justify-content: space-between; align-items: center; margin-bottom: 0.2rem; }
.gen .box .li[data-v-191ad456]:last-child { margin-bottom: 0px; }
.gen .box .li span[data-v-191ad456] { font-size: 0.24rem; }
.gen .box .li span[data-v-191ad456]:first-child { color: rgb(144, 144, 144); }
.gen .box.box-flex[data-v-191ad456] { display: flex; flex-wrap: wrap; padding: 0.1rem 0.28rem; }
.gen .box .item[data-v-191ad456] { width: 33.3333%; border-bottom: 0.02rem solid rgb(235, 235, 235); padding: 0.24rem 0px; }
.gen .box .item[data-v-191ad456]:nth-child(7), .gen .box .item[data-v-191ad456]:nth-child(8) { border: 0px; }
.gen .box .item span[data-v-191ad456] { display: block; color: rgb(144, 144, 144); font-size: 0.24rem; font-style: normal; font-weight: 400; line-height: 0.28rem; text-align: center; }
.gen .box .item span[data-v-191ad456]:last-child { margin-top: 0.08rem; color: var(--el-color-2); font-family: "PingFang SC"; font-size: 0.24rem; font-style: normal; font-weight: 500; line-height: 0.34rem; }
